/*
 * Pezzolesi Lab RNA Seq Pipeline
 * Author: Brady Neeley
 * Copyright (c) 2021: none (lol)
 */

params {
    // Project Name
    project = "test"
     
    //STORE ALL REFERENCE FILES IN EITHER SCRATCH OR A GROUP DIRECTORY TO KEEP I/O DOWN

    params.pairedEndReads   = "/scratch/general/lustre/u0854535/RNASeqData/*_{1,2}.fastq.gz"
    //pairedEndReads   = "/scratch/general/lustre/u0854535/RNASeqData/JC0309_{1,2}.fastq.gz"
    outDir       = "/scratch/general/lustre/u0854535/theBifrost/out"
    genomeRef    = "/uufs/chpc.utah.edu/common/home/pezzolesi-group2/resources/RNASeqReferenceFiles/star125"
    //refGTF       = "/scratch/general/lustre/u0854535/RNASeqRef/Homo_sapiens.GRCh38.102.gtf"
    refGTF       = "/scratch/general/lustre/u0854535/RNASeqRef/Homo_sapiens.GRCh38.104.gtf"
    refFA      = "/uufs/chpc.utah.edu/common/home/pezzolesi-group2/resources/RNASeqReferenceFiles/hg38_v0_Homo_sapiens_assembly38.fasta"

    //Flat file for hg38/GR38
    refFlat      = "/scratch/general/lustre/u0854535/RNASeqRef/refFlat_hg38.txt"

    //Make sure the scratch directory is up to date
    fastqcOut    = "/scratch/general/lustre/u0854535/theBifrost/results/fastqc"
    bams         = "/scratch/general/lustre/u0854535/theBifrost/results/bam/*.bam"
    multi_qc     = "/scratch/general/lustre/u0854535/theBifrost/results/multi_qc"

    //DESeq2 parameters
    DESeq        = "/scratch/general/lustre/u0854535/theBifrost/results/deseq2"
    phenoFile    = "/scratch/general/lustre/u0854535/RNASeqRef/RNAseq_submission_72samples_pheno.txt"

    cpusLeft     = 5

}

process {
    //errorStrategy  = 'retry'
    //maxErrorRetry  = 1
    //clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 5 --mem=28G -N 1'
    errorStrategy  = 'terminate'
    executor       = 'slurm'
    clusterOptions = '--account=pezzolesi --partition=kingspeak-shared -n 5 --mem=28G -N 1'
    time           = '12h'

    scratch = "/scratch/general/lustre/$USER/theBifrost"

    // Specific process specifications

    withName: fast_qc {
        //clusterOptions = '--account=pezzolesi-np --partition=kingspeak -n 26 --mem=144G -N 1'
        clusterOptions = '--account=pezzolesi --partition=kingspeak -n 12 --mem=64G -N 1'
        time = '2h'
    }
    
    withName: sortFastqReads {
        //clusterOptions = '--account=pezzolesi --partition=kingspeak -n 26 --mem=144G -N 1'
        clusterOptions = '--account=pezzolesi --partition=kingspeak -n 12 --mem=64G -N 1'
        time = '2h'
    }

    withName: alignReads {
        clusterOptions = '--account=pezzolesi --partition=kingspeak -n 20 --mem=144G -N 1'
        //clusterOptions = '--account=pezzolesi --partition=kingspeak -n 12 --mem=96G -N 1'
        //clusterOptions = '--account=pezzolesi --partition=kingspeak -n 5 --mem=28G -N 1'
        time = '8h'
    }
    withName: countFeatures {
        //clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 26 --mem=144G -N 1'
        clusterOptions = '--account=pezzolesi --partition=kingspeak -n 5 --mem=28G -N 1'
        time = '2h'
    }

}
