/*
 * Pezzolesi Lab RNA Seq Pipeline
 * Author: Brady Neeley
 * Copyright (c) 2021: none (lol)
 */

params {
    // Project Name (also the name of your final VCF)
    project = "testing_the_bifrost"
     
    params.reads        = "/scratch/general/lustre/u0854535/RNASeqData/*_{1,2}.fastq.gz"
    params.outDir       = "/uufs/chpc.utah.edu/common/home/u0854535/workflows/RNASeq/RNASeq_Pipeline/out"
    params.genomeRef    = "/uufs/chpc.utah.edu/common/home/u0854535/RNASeq/scripts/star125"
    params.refGTF       = "/scratch/general/lustre/u0854535/RNASeqRef/Homo_sapiens.GRCh38.102.gtf"
    //Flat file for hg38/GR38
    params.refFlat      = "/uufs/chpc.utah.edu/common/home/u0854535/referenceFiles/refFlat.txt.gz"
    //TODO:Change the scratch directory name each time you change the scratch dir name
    params.fastqcOut    = "/scratch/general/lustre/u0854535/theBifrost/results/fastqc"
    params.bams         = "/scratch/general/lustre/u0854535/theBifrost/results/bam"
    }

process {
    //errorStrategy  = 'retry'
    //maxErrorRetry  = 1
    //clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 5 --mem=28G -N 1'
    errorStrategy  = 'terminate'
    executor       = 'slurm'
    clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 5 --mem=28G -N 1'
    time           = '12h'

    scratch = "/scratch/general/lustre/$USER/theBifrost"

    // Specific process specifications

    withName: fast_qc {
        //clusterOptions = '--account=pezzolesi-np --partition=notchpeak -n 26 --mem=144G -N 1'
        clusterOptions = '--account=pezzolesi --partition=notchpeak -n 12 --mem=64G -N 1'
        time = '2h'
    }
    
    withName: sortFastqReads {
        //clusterOptions = '--account=pezzolesi --partition=notchpeak -n 26 --mem=144G -N 1'
        clusterOptions = '--account=pezzolesi --partition=notchpeak -n 12 --mem=64G -N 1'
        time = '2h'
    }

    withName: alignReads {
        clusterOptions = '--account=pezzolesi --partition=notchpeak -n 26 --mem=144G -N 1'
        //clusterOptions = '--account=pezzolesi --partition=notchpeak -n 5 --mem=28G -N 1'
        time = '2h'
    }
    withName: countFeatures {
        //clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 26 --mem=144G -N 1'
        clusterOptions = '--account=pezzolesi --partition=notchpeak -n 5 --mem=28G -N 1'
        time = '2h'
    }
}
