/*
 * Pezzolesi Lab RNA Seq Pipeline
 * Author: Brady Neeley
 * Copyright (c) 2021: none (lol)
 */

params {
    // Project Name (also the name of your final VCF)
    project = "testing_the_bifrost"
     
    params.reads = "/uufs/chpc.utah.edu/common/home/u0854535/practice/nextflow-tutorial/data/ggal/gut_{1,2}.fq"
    params.outDir = "/uufs/chpc.utah.edu/common/home/u0854535/workflows/RNASeq/out"
    params.genomeRef = "/uufs/chpc.utah.edu/common/home/u0854535/RNASeq/scripts/star125"
    }

process {
    //errorStrategy  = 'retry'
    //maxErrorRetry  = 1
    //clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 5 --mem=28G -N 1'
    errorStrategy  = 'terminate'
    executor       = 'slurm'
    clusterOptions = '--account=pezzolesi --partition=lonepeak-shared -n 5 --mem=28G -N 1'
    time           = '12h'

    scratch = "/scratch/general/lustre/$USER/theBifrost"

    // Specific process specifications

    withName: fastqc {
        //clusterOptions = '--account=pezzolesi --partition=lonepeak -n 26 --mem=144G -N 1'
        clusterOptions = '--account=pezzolesi --partition=lonepeak -n 12 --mem=64G -N 1'
        time = '2h'
    }
    
    withName: alignReads {
        //clusterOptions = '--account=pezzolesi --partition=lonepeak -n 26 --mem=144G -N 1'
        clusterOptions = '--account=pezzolesi --partition=lonepeak -n 12 --mem=64G -N 1'
        //clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 26 --mem=144G -N 1'
        time = '2h'
    }
}
